body {background-image: 
	url(../images/Exodus.jpg);
	background-color: #600080;
	background-position: center;
	background-size: cover}
	
h1 {padding: 20px ;
	margin: 25px;
	border-bottom: 25px;
	text-align: center;
	background-color: #800080;
	color: white}

h3 {padding: 15px;
	margin: 15px;
	border: 15px;
	text-align: center;
	background-color: #800080;
	color: white;
	opacity: .75}

/*p {font-family: 'Noto Sans JP',sans-serif; 
	font-size: 13px;
	line-height: 1em}*/

/*label {font-family: 'Noto Sans JP', sans-serif;
	font-size: 13px}

/*Classes*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  height: 250px;
  width: 250px }

.sub-head {text-align: center;
	font-family:'Noto Sans JP',sans-serif;
	color: white;
	padding: 10px;
	margin: 15px;
	border-spacing: 10px;
	font-size: 12px;
	background-color: #800080;
	opacity:.75}

.card {background-color: #800080
	}

.form-group {font-family: 'Noto Sans JP',sans-serif; 
	font-size: 12px;
	line-height: 1em
	padding: 10px;
	margin: 15px;
	border-spacing: 10px;}

.message-box {background: #800080; 
	display: block;
	align-content: center;
	font-size: 12px;
	font-family: 'Noto Sans JP',sans-serif;
	color: white}

.footer {color: white}
